.top 
  .top-name
    .top-name-box
      .top-name-box-1
        masa
      .top-name-box-2
        = link_to '#', class: 'icon' do
          <i class="fas fa-pen"></i>
        = link_to '#', class: 'icon' do
          <i class="fas fa-cog"></i>
  .top-group-name
    .top-group-name-box
      .top-group-name-box-text-1
        tech camp
      .top-group-name-box-text-2
        まだメッセージがありません